<div>
    <h1>All Coins</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Inspect</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="coin in displayedCoins">
                <td>{{ coin.rank }}</td>
                <td>{{ coin.name }}</td>
                <td>{{ coin.symbol }}</td>
                <td>{{ coin.price | currency }}</td>
                <td><button ng-click="console.log(coin)">Inspect Coin</button></td>
            </tr>
        </tbody>
    </table>

    <div>
        <button ng-click="prevPage()" ng-disabled="currentPage === 1">Previous</button>
        <button ng-click="nextPage()" ng-disabled="currentPage * itemsPerPage >= coins.length">Next</button>
    </div>

    <p>Page {{ currentPage }}</p>



    <div ng-controller="searchBarController">
        <h1>Crypto Search</h1>
        <input type="text" ng-model="searchQuery" placeholder="Enter Coin ID" />
        <button ng-click="searchCoin()">Search</button>

        <div ng-if="error" style="color: red;">
            {{ error }}
        </div>

        <div ng-if="coinData">
            <h2>Coin Details:</h2>
            <p><strong>Name:</strong> {{ coinData.name }}</p>
            <p><strong>Symbol:</strong> {{ coinData.symbol }}</p>
            <p><strong>Price:</strong> ${{ coinData.price }}</p>
        </div>
    </div>
</div>
